/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* -------------------------------------------------------------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: black; */
}


.body {
  display: flex;
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------Bar-------------------------------------------------------- */


.bar {
  height: 100vh;
  width: 230px;
  background-color: black;
  border-right: 1px solid rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  height: 100px;
  width: 100px;
}

.logo-att {
  margin-top: 30px;
  position: relative;
  left: -40px;
}

.home-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.home-div:hover {
  background-color: rgb(32, 32, 32);
}

.home-div i {
  font-size: 26px;
  color: white;
  margin-left: 13px;
  position: relative;
  top: 5px;
}

.home-div p {
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-left: 13px;
  position: relative;
  top: 11px;
}


.search-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
  text-decoration: none;
}

.search-div:hover {
  background-color: rgb(32, 32, 32);
}

.search-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
  text-decoration: none;
}

.search-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
  text-decoration: none;
  text-decoration: none;
}

.explore-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.explore-div:hover {
  background-color: rgb(32, 32, 32);
}

.explore-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
}

.explore-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.reels-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.reels-div:hover {
  background-color: rgb(32, 32, 32);
}

/* .reels-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
} */
.reels-div .img {
  color: #f5f5f5;
  margin-left: 10px;
  position: relative;
  top: 9px;
}

.reels-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.messages-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.messages-div:hover {
  background-color: rgb(32, 32, 32);
}

.messages-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
}

.messages-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.notifications-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.notifications-div:hover {
  background-color: rgb(32, 32, 32);
}

.notifications-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
}

.notifications-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.create-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.create-div:hover {
  background-color: rgb(32, 32, 32);
}

.create-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
}

.create-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.profile-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.profile-div:hover {
  background-color: rgb(32, 32, 32);
}

.profile-div .img-profile {
  margin-left: 13px;
  position: relative;
  top: 9px;
  border-radius: 50%;
}

.profile-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}

.more-div {
  height: 45px;
  width: 205px;
  background-color: black;
  position: relative;
  /* top: 5px; */
  /* left: 10px; */
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  transition: 0.5s ease;
}

.more-div:hover {
  background-color: rgb(32, 32, 32);
}

.more-div i {
  font-size: 24px;
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 9px;
}

.more-div p {
  font-size: 15px;
  /* font-weight: 100; */
  color: #f5f5f5;
  margin-left: 13px;
  position: relative;
  top: 14px;
}













/* ------------------------------------------<Bar/>-------------------------------------------------------- */
/* ------------------------------------------<Post>-------------------------------------------------------- */

.section-02 {
   height: 100vh;
   width: 750px;
   background-color: black;
}

.story-section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.story-div {
  height: 80px;
  width: 750px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.story-div div {
  margin-top: 10px;
}


.story-1 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-1 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-2 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-2 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-3 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-3 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-4 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-4 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-5 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-5 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-6 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-6 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-7 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-7 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.story-8 {
  height: 68px;
  width: 68px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-8 .img {
  border-radius: 50%;
  border: 2.5px solid black;
}

.para-div {
  height: 20px;
  display: flex;
  background-color: black;
  color: rgb(226, 226, 226);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  align-items: center;
}

/* .para-div p {
} */

.para-01 {
  padding-left: 40px;
}
.para-02 {
  padding-left: 48px;
}
.para-03 {
  padding-left: 30px;
}
.para-04 {
  padding-left: 32px;
}
.para-05 {
  padding-left: 33px;
}
.para-06 {
  padding-left: 28px;
}
.para-07 {
  padding-left: 25px;
}
.para-08 {
  padding-left: 25px;
}

/* -------------------------------------Post div  */
.post-div {
  height: 510px;
  width: 100;
  background-color: black;
}

.post-heading-div {
  height: 50px;
  width: 400px;
  background-color: black;
  margin-left: 140px;
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
}

.img-div-post-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(to right, #ffc500, #DC00B2, #B02429);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.img-div-post-profile .img {
  border-radius: 50%;
  border: 2.5px solid black;
} 

.post-heading-div p {
  color: rgb(235, 235, 235);
  font-size: 13px;
  font-weight: 500;
  margin-left: 8px;
}

.post-heading-div span {
  color: grey;
}

.post {
  height: 450px;
  width: 400px;
  background-color: black;
  margin-top: 40px;
  margin-left: 139px;
  border-radius: 10px;
}

.post .img {
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
} 

/* ----------------------------section 03 -------------------------------------------- */

.section-03 {
  background-color: black;
  height: 100vh;
  width: 375px;
  display: flex;
  flex-direction: column;
}

.my-account-div {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  
}

.my-account-div .img {
  border-radius: 50%;
}

.my-account-div p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.my-account-div .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.my-account-div .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 70px;
}

.suggestion-div {
  height: 20px;
  width: 300px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: black;
  color: white;
}
.suggestion-div p {
  font-size: 14px;
  font-weight: 700;
  color: rgb(189, 189, 189);
}

.suggestion-div span {
  margin-left: 115px;
  font-weight: 600;
  font-size: 12px;
  color: white;
}

.suggestion-account-01 {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  
}

.suggestion-account-01 .img {
  border-radius: 50%;
}

.suggestion-account-01 p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.suggestion-account-01 .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.suggestion-account-01 .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 100px;
}

.suggestion-account-02 {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  
}

.suggestion-account-02 .img {
  border-radius: 50%;
}

.suggestion-account-02 p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.suggestion-account-02 .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.suggestion-account-02 .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 70px;
}

.suggestion-account-03 {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  
}

.suggestion-account-03 .img {
  border-radius: 50%;
}

.suggestion-account-03 p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.suggestion-account-03 .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.suggestion-account-03 .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 70px;
}

.suggestion-account-04 {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  
}

.suggestion-account-04 .img {
  border-radius: 50%;
}

.suggestion-account-04 p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.suggestion-account-04 .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.suggestion-account-04 .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 70px;
}

.suggestion-account-05 {
  height: 50px;
  width: 300px;
  background-color: black;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  
}

.suggestion-account-05 .img {
  border-radius: 50%;
}

.suggestion-account-05 p {
  color: rgb(236, 236, 236);
  font-size: 14px;
  font-weight: 550;
  margin-left: 10px;
  margin-top: 6px;
}

.suggestion-account-05 .span {
  color: grey;
  font-size: 13px;
  margin-top: 5px;
}

.suggestion-account-05 .span2 {
  color: rgb(22, 131, 255);
  font-size: 13px;
  margin-top: 10px;
  margin-left: 85px;
}